*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
}

html, body{
    margin: 0;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    --main-bg-color: #F1F1E6 ;
    --header-bg-color: #ffffff;
    --sidebar-bg-color: #031421 ;
    --secondary-color: #0387d9;
    --main-text-color: #434343;
    color: var(--main-text-color);
}

button{
    font-family: inherit;
}
button:hover{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: inherit;
}
a:hover{
    color: #0387d9;
}

h2{
    font-weight: 500;
}

h3{
    font-weight: 600;
    font-size: 20px;
}

h4{
    font-weight: 500;
    font-size: 18px;
    margin-block: 0em 0.2em;
}
ul{
    list-style-type: none;
}

.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
}

.sidebar{
    display: grid;
    grid-template-rows: repeat(3,auto);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--sidebar-bg-color);
    align-content: start;
    gap: 20px;
    position: relative;
    z-index: 5;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--header-bg-color);
    position: relative;
    z-index: 5;
    box-shadow: 0px 0px 10px rgba(99, 98, 98, 0.374);
    padding: 20px;
}

.main{
    display:grid;
    grid-template-columns: 1fr min(300px, 30%);
    grid-template-rows: min-content 1fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--main-bg-color);
    padding: 30px;
    overflow: auto;
    gap: 20px;
}

.nav ul, .ssp ul{
    font-size: 130%;
    color: rgba(255, 255, 255, 0.751);
}

.nav, .ssp, .dashboard-heading{
    grid-row: span 1;
    height: auto;
}

.nav ul li, .ssp ul li, .dashboard-heading{
    padding: 7px 40px;
}

ul li a iconify-icon{
    padding-right: 10px;
}


.dashboard-heading{
    font-size: 36px;
    padding-top: 32px;
    padding-bottom: 16px;
}

.top{
    font-size: 20px;
    letter-spacing: -0.075rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

div .search{
    display: flex;
    align-items: center;
    gap: 20px;
}

.account{
    display:flex;
    align-items: center;
    gap: 25px;
    margin-right: 10px;
}
.profile-pic{
    background-color: black;
}

.account > .profile-pic{
    width: 30px;
    height: 30px;
    border-radius:15px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.welcome, .action-btns{
    gap: 30px;
    display: flex;
    align-items: center;
}
.welcome >.profile-pic{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}


.message .profile-name{
    font-weight: 500;
    letter-spacing: -0.02rem;
    font-size: 24px;
}

.action-btns > button{
    border:none;
    background-color: var(--secondary-color);
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 60px;
    color: white;
}


input[type=text]{
    width: clamp(150px, 45vw, 30rem);
    height: 30px;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    background-color: #bdbdbd;
}

input[type=text]:focus{
    outline: 2px solid var(--secondary-color);
}

.projects{
    grid-row: span 2;
    grid-column: 1;
}

.projects > .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card{
    background-color: var(--header-bg-color);
    padding: 10px 30px;
    z-index: 2;
    box-shadow: 0px 0px 5px rgba(154, 154, 154, 0.493);
    border-radius: 10px;
}

.projects .card{
    display: grid;
    grid-template-rows: 1fr max-content;;
    gap: 30px;
    height: 300px;
    padding-bottom: 30px;
}
.projects .card:hover{
    box-shadow: 0px 0px 5px var(--secondary-color);
}

.card-btns{
    font-size: 25px;
    gap: 20px;
    display: flex;
    justify-content:flex-end;
}

.card-btns>*:hover{
    color: var(--secondary-color);
    cursor: pointer;
}
.announcements{
    grid-column: 2;
    grid-row: 1;
}
.trending{
    grid-column: 2;
    grid-row: 2;

}

.announcements > .card, .trending > .card {
    display: flex;
    flex-direction: column;
}

.announcement, .trending-item{
    padding: 15px 0px;
    max-width: 25ch;
}
.announcement + .announcement, .trending-item + .trending-item{
    border-top: 1px solid #bdbdbd93;
}

.announcement:first-child, .trending-item:first-child{
    padding-top: 0;
    margin-block-start: 1em;
}

.announcement:last-child, .trending-item:last-child{
    padding-bottom: 0;
    margin-block-end: 1em;
}

.trending-item > .profile > .profile-pic{
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.trending-item> .profile{
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}

.trending-item> p{
    margin:0;
    padding-top: 15px;
}