*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
}

html, body{
    height: 100%;
    margin: 0;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

button{
    font-family: inherit;
}
button:hover{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: inherit;
}
a:hover{
    color: rgba(0, 255, 255, 0.553);
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
}

.sidebar{
    display: grid;
    grid-template-rows: repeat(3,auto);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color:#031421;
    align-content: start;
    gap: 20px;
    position: relative;
    z-index: 5px;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #e2edff;
    position: relative;
    z-index: 5px;
    box-shadow: 0px 0px 5px rgb(99, 98, 98);
    padding: 20px;
}

.main{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #e4e4e7;
}

.nav ul, .ssp ul{
    list-style-type: none;
    font-size: 130%;
}

.nav, .ssp, .dashboard-heading{
    grid-row: span 1;
    height: auto;
}

.nav ul li, .ssp ul li, .dashboard-heading{
    padding: 7px 40px;
}

ul li a iconify-icon{
    padding-right: 10px;
}


.dashboard-heading{
    font-size: 36px;
    padding-top: 32px;
    padding-bottom: 16px;
}

.top{
    font-size: 20px;
    letter-spacing: -0.075rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

div .search{
    display: flex;
    align-items: center;
    gap: 20px;
}

.account{
    display:flex;
    align-items: center;
    gap: 25px;
    margin-right: 10px;
}
.profile-pic{
    background-color: rgb(2, 111, 118)
}

.account > .profile-pic{
    width: 30px;
    height: 30px;
    border-radius:15px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.welcome, .action-btns{
    gap: 30px;
    display: flex;
    align-items: center;
}
.welcome >.profile-pic{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}


.message .profile-name{
    font-weight: 500;
    letter-spacing: -0.05rem;
    font-size: 24px;
}

.action-btns > button{
    border:none;
    background-color: rgb(2, 111, 118) ;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 60px;
    color: white;
}


input[type=text]{
    width: clamp(150px, 45vw, 30rem);
    height: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

input[type=text]:focus{
    outline: 2px solid rgb(2, 111, 118);
}

